  
h1 {
    font-size: 2em;
    text-align: center;
    font-weight: bold;
}
p {
    padding: 10px;
    margin: 0;
}
.row {
    width: 100%;
}

#section1 {
    background-color: #bfbfbf;
    font-size: 1em;
    font-weight: 400;
    border: 2.5px solid black;
    margin: 10px;
    padding: 0px;
}
#section2 {
    background-color: #bfbfbf;
    font-size: 1em;
    font-weight: 400;
    border: 2.5px solid black;
    margin: 10px;
    padding: 0px;
}
#section3 {
    background-color: #bfbfbf;
    font-size: 1em;
    font-weight: 400;
    border: 2.5px solid black;
    margin: 10px;
    padding: 0px;
}
#h2 {
    background: #D59898;
}

#h3 {
    color: white;
    background: #C14543;
}
#h4 {
    background: #E5D198;
}
.h {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    width: 100px;
    margin: 0;
    position: relative;
    float: right;
    border-bottom: 2.5px solid black;
    border-left: 2.5px solid black;
}

@media (min-width: 992px) {
   .col-lg-4  {
    float: left;
    margin-right:2%;
    width: 32%;
  }
  .col-lg-12 {
    float:left;
    width:32%;

  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6a{
    float: left;
    margin-right:2%;
    width: 49%;
  }
  .col-md-6b{
    float:left;
    width:49%;
  }
  .col-md-12{
    clear: both;
    width: 100%;

}
